button {
    padding: 10px 20px;
    font-size: 22px;
    transition-property: background-color, color;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}

button:hover {
    background-color: gray;
    color: white;
}